body{
    font-family: 'Abril Fatface', cursive;
font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Varela Round', sans-serif;
}
/* hovering */
.product:hover{
    transform: scale(1.1);
    transition:transform 1s;
}
.apple:hover{
    transform: scale(1.3);
    transition:transform 1s;
}
.image-pert:hover{
    transform: scale(1.1);
    transition:transform 1s;
}
.option:hover{
    transform: scale(1.3);
    transition:transform 1s;
    background-color: lightblue;
    border-radius: 5px;
}
.button:hover{
    transform: scale(1.3);
    transition:transform 1s;
}
/*<-------------------------- 
    menu ber style decoration 
    ---------------------------> */
    .menu-ber{
    display: flex;
    margin-top: 96px;
    align-items: center;
    justify-content: space-between;
}
.side-titel-ber{
    display: flex;
    padding-right: 120px;
    font-size: 16px;
}
.option{
    margin-left: 34px;
    font-size: 16px;
}
.title-pop{
    font-size: 60px;
}
.peragraph{
    font-size: 20px;
    font-weight: bold;
}
.titel-ber-heading{
    padding-left: 100px;
    font-size: 34px;
}
.new-product-vew{
    display: flex;
    justify-content: center;
    margin-top: 148.5px;
}
.new-product-vew img{
    width: 440px;
    height: 414px;
}
.button{
    width: 196px;
    height: 44px;
    border-radius: 10px;
   background-color: #E02C6D;
}
.button-text-2{
    display: flex;
    font-weight: bold;
    color:#E02C6D;
   margin-top: 70px;
   justify-content: right;
   padding-right: 100px;
}
.button-text{
    text-decoration:none;
    color: white;
    padding-left: 35px;
    padding-top: 10px;
}
/* new section for new product-img */
.product-title{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.products{
    width: 279px;
    height: 479px;
}
.product-img img{
    margin-top: 15px;
    width: 250px;
    height: 200px;
}
.product{
    border-radius: 5px;
    margin-top: 30px;
    padding-left: 14px;
    box-shadow: 2px 2px 2px 2px gray;
}
.fa-star.filled{
    color: #FB8200;
}
.fa-star.empty{
    color: rgb(179, 177, 140);
}
.color-black{
    color: black;
}
.product-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr)

}

.product-box{
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
/* optional decotation */
.apple{
    margin-bottom: 200px;
}
.text{
    display:grid;
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
}
.color-red{
    color: red;
    padding-left: 120px;
}
.color-blue{
    margin-top: 10px;
    padding-left: 130px;
    border-radius: 20px;
    color: white;
    background-color: royalblue;
}

/* foooter decatation */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0A0826;
    color: white;
}
.footer{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.copyright{
    display: flex;
    align-items: center;
}
.icon{
    display: flex;
    width: 32px;
    height: 32px;
    padding-left: 20px;
}
.social-media{
    display: flex;
    justify-content: space-between;
}
/* responsive */
@media only screen and (max-width: 600px) {
    body{
        background-color: lightblue;

    }
    .product-box{
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns:repeat(1, 1fr);
    }
    footer{
        width: 800px;
        background-color: rgb(17, 17, 46);
    }
    .titel-ber-heading{
        font-size: 20px;
    }
    .new-product-vew{
        width: 400px;
        height: 400px;
        margin-left: 200px;
        margin-bottom: 300px;
    }
    .container{
        padding-left: 360px;
    }
    .all-apple{
        padding-left: 160px;
    }
}